<div class="container">
    <div class="header">
        <div class="logo">Pet Consult</div>
        <nav class="nav-links">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/cadastrarAtendimento" routerLinkActive="active">Cadastrar</a>
            <a routerLink="/listarAtendimento" routerLinkActive="active">Listar</a>
            <!-- <a routerLink="/editarAtendimento" routerLinkActive="active">Editar</a> -->

        </nav>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <p>&copy; 2024 Residência. Todos os direitos reservados. <a href="#">Política de Privacidade</a> | <a
                href="#">Termos do serviço</a></p>
    </div>
</div>