<div class="all-content">
    <header class="header">
        <h1>UNIVERSIDADE</h1>
    </header>
    <div class="content">
        <app-menu-uesc-angular class="grid-itens"></app-menu-uesc-angular>
        <app-noticias-uesc-angular class="grid-itens"></app-noticias-uesc-angular>
        <app-destaque-uesc-angular class="grid-itens"></app-destaque-uesc-angular>
        <app-servicos-uesc-angular class="grid-itens"></app-servicos-uesc-angular>
        <app-resultados-uesc-angular class="grid-itens"></app-resultados-uesc-angular>
    </div>
</div>
