<div class="itens-detalhe">
    <div class="card-detalhe" *ngIf="carro">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title appTitulo>{{carro.nome}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p appConteudo>{{carro.modelo}}</p>
              <p appConteudo>{{carro.motor}}</p>
              <p appConteudo>{{carro.numeroPassageiros}}</p>
              <p appConteudo>{{carro.autonomia}}</p>
              <p appConteudo>{{carro.alcance}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="item-nome">
        <mat-card class="card" *ngIf="carro">
            <mat-card-header>
              <mat-card-title appTitulo>{{carro.nome}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="adicionar" *ngIf="carro">
        <button class="btn-adicionar" mat-button (click)="adicionar(carro)">
            <mat-icon>
                <span class="material-symbols-outlined">add</span>
            </mat-icon>
            Adicionar
        </button>
    </div>
</div>
