body {
    font-family: Arial, sans-serif;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 20px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

// .btn-loginpage[disabled] {
//     background-color: #f00;
// }