<div class="itens">
    <div class="card-itens">
        <mat-card  class="card">
            <mat-card-header>
              <mat-card-title appTitulo>{{titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let aviao of listaAviao">
                    <button appConteudo mat-button (click)="filtrarAviao(aviao.nome)">{{aviao.nome}}</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="detalhe">
        <app-detalha-aviao [aviao]="aviao"></app-detalha-aviao>
    </div>
</div>